.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.good {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.link_Styles {
  padding: 0 30px;
}

a:link.top, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:link.blog, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.top-links {
  font-family: Arial;
  size: 40;
  font-size: larger;
}

h1.blogTitle {
  font-family: 'Arial';
  color: black;
  text-align: center;
}

h3.blogList {
  font-family: 'Arial';
  color: black;
  font-size: 32px;
  text-align: center;
}

h3.createBlog {
  font-family: 'Arial';
  color: black;
  font-size: large;
  text-align: center;
}

ul {
  list-style: none;
}

ul.blogList {
  list-style: none;
  text-align: left;
  align-items: center;
}

div.blogList {
  text-align: center;
}

.topBar {
  background-color: aquamarine;
}

.loggedInPanelText {
  font-size: 20px;
  background-color: aquamarine;
  display: inline;
}

.blogLinkText {
  font-size: 20px;
  color: black;
}

.blogLikeTitle {
  font-size: 20px;
  color: black;
}

.addedByText {
  font-size: 16px;
  color: black;
}